@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px; /* Ensures it is on the line below */
}

.loading-spinner {
    animation: spin 2s linear infinite, colorChange 6s infinite;
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin-left: 5px; /* Adds space between text and spinner */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
        color: #064789;
    }
    25% {
        color: #427aa1;
    }
    50% {
        color: #ebf2fa;
    }
    75% {
        color: #679436;
    }
    100% {
        color: #a5be00;
    }
}

.table-cell-title {
    max-width: 200px; /* Set to a suitable max-width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.table-cell-title {
    position: relative;
    max-width: 550px; /* Adjust to your needs */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px; /* Space for the gradient */
}

.table-cell-title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px; /* Adjust based on gradient */
    height: 100%;
    background: linear-gradient(to left, white, transparent);
    pointer-events: none; /* Ensure the gradient doesn't block clicks */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.blink {
    animation: blink 2s infinite;
}

/* Custom styles for disabled checkboxes */
.disabled-checkbox {
    appearance: none; /* Remove default checkbox styling */
    background-color: black; /* Fill the checkbox with black */
    width: 16px; /* Set the width of the checkbox */
    height: 16px; /* Set the height of the checkbox */
    border: 2px solid black; /* Set border color to match background */
    border-radius: 3px; /* Add some rounding to the checkbox */
    position: relative; /* Position relative to add the white dash */
}

/* Add the white dash */
.disabled-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px; /* Width of the dash */
    height: 2px; /* Height of the dash */
    background-color: white; /* Dash color */
    transform: translate(-50%, -50%); /* Center the dash */
}
